/* 1 */
@font-face {
  font-family: FuturaStd-Bold;
  src: url(../font/AnyConv.com__FuturaStd-Bold.woff);
}
/* 2 */
@font-face {
  font-family: FuturaStd-BoldOblique;
  src: url(../font/AnyConv.com__FuturaStd-BoldOblique.woff);
}
/* 3 */
@font-face {
  font-family: FuturaStd-Book;
  src: url(../font/AnyConv.com__FuturaStd-Book.woff);
}
/* 4 */
@font-face {
  font-family: FuturaStd-Condensed;
  src: url(../font/AnyConv.com__FuturaStd-Condensed.woff);
}
/* 5 */
@font-face {
  font-family: FuturaStd-CondensedBold;
  src: url(../font/AnyConv.com__FuturaStd-CondensedBold.woff);
}
/* 6 */
@font-face {
  font-family: FuturaStd-Condensed;
  src: url(../font/AnyConv.com__FuturaStd-Condensed.woff);
}
/* 7 */
@font-face {
  font-family: FuturaStd-CondensedExtraBd;
  src: url(../font/AnyConv.com__FuturaStd-CondensedExtraBd.woff);
}
/* 8 */
@font-face {
  font-family: FuturaStd-CondensedLight;
  src: url(../font/AnyConv.com__FuturaStd-CondensedLight.woff);
}
/* 9 */
@font-face {
  font-family: FuturaStd-CondensedLightObl;
  src: url(../font/AnyConv.com__FuturaStd-CondensedLightObl.woff);
}
/* 10 */
@font-face {
  font-family: FuturaStd-CondensedOblique;
  src: url(../font/AnyConv.com__FuturaStd-CondensedOblique.woff);
}

/* 11 */
@font-face {
  font-family: FuturaStd-CondExtraBoldObl;
  src: url(../font/AnyConv.com__FuturaStd-CondExtraBoldObl.woff);
}
/* 12 */
@font-face {
  font-family: FuturaStd-ExtraBold;
  src: url(../font/AnyConv.com__FuturaStd-ExtraBold.woff);
}
/* 13 */
@font-face {
  font-family: FuturaStd-ExtraBoldOblique;
  src: url(../font/AnyConv.com__FuturaStd-ExtraBoldOblique.woff);
}

/* 14 */
@font-face {
  font-family: FuturaStd-HeavyOblique;
  src: url(../font/AnyConv.com__FuturaStd-HeavyOblique.woff);
}

/* 15 */
@font-face {
  font-family: FuturaStd-Light;
  src: url(../font/AnyConv.com__FuturaStd-Light.woff);
}
/* 16 */
@font-face {
  font-family: FuturaStd-LightOblique;
  src: url(../font/AnyConv.com__FuturaStd-LightOblique.woff);
}
/* 18 */
@font-face {
  font-family: FuturaStd-Medium;
  src: url(../font/AnyConv.com__FuturaStd-Medium.woff);
}
/* 18 */
@font-face {
  font-family: FuturaStd-MediumOblique;
  src: url(../font/AnyConv.com__FuturaStd-MediumOblique.woff);
}
